{% extends "astrology/base.html" %}
{% block content %}
<div class="container mt-5">
   <div class="row">
       <div class="col">
           <!-- Post content-->
       
           
           <article>
               
               <!-- Post header-->
               <header class="mb-4">
                   <!-- Post title-->
                   <h1 class="fw-bolder mb-1">ዞዲያክ ምንድን ነው</h1>
                   <!-- Post meta content-->
                   <div class="text-muted fst-italic mb-2"></div>
                  
               </header>
               <!-- Preview image figure-->
               <figure class="mb-4"><img class="img-fluid rounded" style="width: 1000px" src="https://media.istockphoto.com/id/1188209100/vector/zodiac-constellations-and-signs-horoscope-cards-with-constellation-stars-decorative-zodiac.jpg?s=612x612&w=0&k=20&c=x3suLMZD_Ul5uOfDwBT1wjAKqSq7zV4wjBRotiQK3iw=" alt="..." /></figure>
               <!-- Post content-->
               <section class="mb-5">
                   
                   <p class="fs-5 mb-4">ዞዲያክ የሚለው ቃል በሥነ ፈለክ ጥናት እና በኮከብ ቆጠራ ውስጥ ፀሐይ፣ ጨረቃ እና ፕላኔቶች 
                     የሚንቀሳቀሱበትን የሰማይ ባንድ ለማመልከት ጥቅምላይ ይውላል - ቢያንስ ከምድር እንደታየው። ዞዲያክ በርካታ ህብረ 
                     ከዋክብቶችን ይይዛል, እና ፀሐይ (ወይም ሌላ የሰማይ አካል)ወደ የዞዲያክ ክፍል ሲገባ "በውስጥ"  እንዳለ ይነገራል.
                     ዞዲያክ የጥንት ስልጣኔዎች እንደ ጥንታዊ ግሪኮች እና ሮማውያን, የሰማይ አካላት 
                     አቀማመጥ የወደፊቱን ለመተንበይ ጥቅም ላይ ሊውል ይችላል ብለው ያምኑ ነበር. ለነሱ፣ 
                     አስትሮኖሚ እና ኮከብ ቆጠራ አንድ እና አንድ ነበሩ-ይህም በእርግጠኝነት ከአሁን በኋላ ጉዳዩ አይደለም!</p>

                   <p class="fs-5 mb-4">በኮከብ ቆጠራ ውስጥ፣ የዞዲያክ ምልክት ፀሐይ ከምታልፍባቸው 12 የዞዲያክ ህብረ ከዋክብት መካከል አንዱን ያመለክታል።
                      የአንድ ሰው የዞዲያክ ምልክት በተወለደበት ጊዜ ፀሐይ የነበረበት ምልክት ነው። የዞዲያክ ምልክታቸውን በመጠቀም የአንድ ሰው ስብዕና መተንበይ እንደሚቻል
                       በኮከብ ቆጠራ ላይ ያለው እምነት ነው. በኮከብ ቆጠራ መሠረት የፀሐይን፣ የጨረቃንና የፕላኔቶችን አቀማመጥ ከዞዲያክ ህብረ ከዋክብት ጋር በማነፃፀር የወደፊቱን 
                       መተንበይም ይቻላል። የፕላኔቶች እና የዞዲያክ ምልክቶች የኮከብ ቆጠራ ካርታ ሆሮስኮፕ ይባላል; ሆሮስኮፕ የሚለው ቃል እንዲሁ ካርታ በመጠቀም የወደፊቱን ትንበያ
                        ለማመልከት ጥቅም ላይ ይውላል።</p>

                   <p class="fs-5 mb-4">ይህ ሁሉ ለእርስዎ የሚስብ ከሆነ ፣ እድለኛ ነዎት! 
                     ኮከቦችን ተመልክተናል እና በተለምዶ በኮከብ ቆጠራ ውስጥ ጥቅም ላይ የሚውሉትን 12 የዞዲያክ ምልክቶችን ቀርፀናል።
                     ተጨማሪ ለማየት የዞዲያክ ምልክትዎን ይምረጡ እና ሊንኩን ይጫኑ።</p>
                   
                  
               
               
               </section>
              
           </article>
           
       </div>
       <!-- Side widgets-->
       
   </div>
</div>
{% endblock content %}